

#BandeMenuHaut
{
  border: 5px solid #1E90FF;
  position: fixed;
  z-index: 13;
  left: 8px;
  right: 8px;
  width: auto;
  height: 90px;
  text-align: left;
  background-color: #FFFFFF;
  top: 8px;
  display: flex;
  flex-wrap: wrap;
}

#PhotoBandeMenuHaut{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 6px;
  flex: 1;
  text-align: center;
}
#PhotoMenu{
  max-width: 100%;
  width: 70px;
  height: auto;
}

#login {
	display: block;
 	position: fixed;
 	margin-top: 0px;
 	top: 0px;
 	left: 95%;
 	width: 5%;
 	height: 65px;
	font-size: 23px;
	color: #FFFFFF;
	background-color: #111;
}

  .ParamOpaciteMenu{
     /* code en plus pour IE9 */
    filter : alpha(opacity=10);
    opacity : 1;
  }
  

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }  

nav.MenuRubriques
{
position: absolute;
top: 65%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
font-size: large;
padding-left: 0;
white-space: nowrap;
flex: 1;
}

.MenuRubriques li
{
width: 176px;
height: 52px;
left: 292px;
top: 34px;
border-radius: 75px;
z-index: 13;
display: inline;
list-style-type: none;
}

.MenuRubriques a {
padding: 3px 25px;
width: 176px;
height: 52px;
left: 292px;
top: 34px;
text-transform: uppercase;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

.MenuRubriques a:link, .MenuRubriques a:visited
{
text-decoration: none;
color: black;
background-color: #FFFFFF;
}

.MenuRubriques a:hover
{
text-decoration: none;
color: #1E90FF;
/* background-color: #1E90FF; */
}
.MenuRubriques .dot {
  width: 6px;
  height: 6px;
  background: #1E90FF;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin:10px 0;
}
.MenuRubriques a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(64px);
  transform: translateX(64px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.MenuRubriques a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(217px);
  transform: translateX(217px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.MenuRubriques a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(426px);
  transform: translateX(426px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.MenuRubriques a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(575.5px);
  transform: translateX(575.5px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.MenuRubriques a:nth-child(5):hover ~ .dot {
  -webkit-transform: translateX(743px);
  transform: translateX(743px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

h1
{
  font-size: 35px;
  text-align: center;
  color: black;
  text-decoration: underline;
  margin-top: 120px;
  color: #1E90FF;
}

h2
{
  font-size: 6;
  text-align: center;
  color: red;
}

h2#titre2{
  font-size: 6;
  text-align: left;
  color: black;
}

p{
  text-align: left;
  font-size: 4;
  color: white;
  font-family: Papyrus;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #DCDCDC;
}
.slider-container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 690px;
    top: 30px;
    overflow: hidden;
}
.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #000000;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #1E90FF;
}
.slide-input{
  opacity: 0;
  max-width: 100%;
  height: auto;
}
.slide-img {
    width: 100%;
    height: 640px;
    position: absolute;
    z-index: 10;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 12;
    transition: left 0.65s ease-out;
}
#bandeau {
  margin-left: 120px;
  margin-right: 120px;
}

#top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  z-index: 99;
  background-color: transparent;
  border: none;
}
#top-btn img.flecheHaut {
  width: 50px;
  height: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 1rem;
}

@media (max-width: 767px) {
  .navbar-menu {
    display: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .navbar-item {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
